/*Geral*/
* {
    box-sizing: border-box;
}

/*Corpo do layout*/
body {
    background-color: #EEF9BF;
}

/*Classe que contem todos os elementos da página*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Tag que contém o título e a info das jogadas*/
header {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*Ajustando o texto do título*/
header h1{
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;
}

/*Ajustando o texto do número de jogadas*/
.NoJogadas{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

/*Configurações das cartas*/
.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin-bottom: 34px;
    margin-left: 34px;
}

/*Configurações das cartas (parte da frente)*/
.face {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

/*Configurações das cartas para flipar*/
.back-face {
    transform: rotateY(180deg);
}

.flip-back {
    transform: rotateY(0deg);
}

.flip-front {
    transform: rotateY(-180deg);
}

/*Configurações das imagens das cartas (parte da trás)*/
.back-face img{
    width: 100px;
    height: 100px;
}

/*Configurações da classe que contém todas as cartas*/
.kard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 122px; */
    width: 926px;
    flex-wrap: wrap;
}

/*Ajustes para páginas menores*/
@media screen and (max-width: 614px){

    header {
        width: 75%;
    }

    header h1{
        font-size: 36px;
        line-height: 42px;
    }

    .card {
        margin-left: 0;
    }

    .kard {
        width: 30%;
    }

}